In [1]:
import pandas as pd
df=pd.read_csv('car_evaluation.csv')

In [2]:
df.head(3)

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc

In [3]:
df.shape

(1727, 7)

In [4]:
col_names = ['buying','maint','doors','persons','lug_boot','safety','class']
df.columns = col_names

In [5]:
df.head(2)

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [7]:
for col in col_names:
    print(df[col].value_counts())

high     432
med      432
low      432
vhigh    431
Name: buying, dtype: int64
high     432
med      432
low      432
vhigh    431
Name: maint, dtype: int64
3        432
4        432
5more    432
2        431
Name: doors, dtype: int64
4       576
more    576
2       575
Name: persons, dtype: int64
med      576
big      576
small    575
Name: lug_boot, dtype: int64
med     576
high    576
low     575
Name: safety, dtype: int64
unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [8]:
df['class'].value_counts()

unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [9]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [10]:
X = df.drop(['class'], axis=1)

y = df['class']

In [11]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\anaconda3.8\envs\ml\lib\site-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\anaconda3.8\envs\ml\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\anaconda3.8\envs\ml\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\anaconda3.8\envs\ml\lib\site-packages (from scikit-learn) (1.22.3)
Requirement already satisfied: scipy>=1.1.0 in c:\anaconda3.8\envs\ml\lib\site-packages (from scikit-learn) (1.6.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.33, random_state= 42)

In [13]:
X_train.shape, X_test.shape

((1157, 6), (570, 6))

In [14]:
pip install category_encoders

Requirement already satisfied: category_encoders in c:\anaconda3.8\envs\ml\lib\site-packages (2.4.0)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\anaconda3.8\envs\ml\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pandas>=0.21.1 in c:\anaconda3.8\envs\ml\lib\site-packages (from category_encoders) (1.3.5)
Requirement already satisfied: statsmodels>=0.9.0 in c:\anaconda3.8\envs\ml\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: numpy>=1.14.0 in c:\anaconda3.8\envs\ml\lib\site-packages (from category_encoders) (1.22.3)
Requirement already satisfied: scipy>=1.0.0 in c:\anaconda3.8\envs\ml\lib\site-packages (from category_encoders) (1.6.2)
Requirement already satisfied: patsy>=0.5.1 in c:\anaconda3.8\envs\ml\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\anaconda3.8\envs\ml\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\anaconda3.8\envs\ml\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.3)
Requirement already satisfied: six in c:\anaconda3.8\envs\ml\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\anaconda3.8\envs\ml\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\anaconda3.8\envs\ml\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: packaging>=21.3 in c:\anaconda3.8\envs\ml\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\anaconda3.8\envs\ml\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import category_encoders as ce

In [16]:
encoder = ce.OrdinalEncoder(cols=['buying','maint','doors','persons', 'lug_boot', 'safety'])

X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [17]:
X_train.head()

      buying  maint  doors  persons  lug_boot  safety
83         1      1      1        1         1       1
48         1      1      2        2         1       2
468        2      1      2        3         2       2
155        1      2      2        2         1       1
1043       3      2      3        2         2       1

In [18]:
X_test.head()

      buying  maint  doors  persons  lug_boot  safety
599        2      2      3        1         3       1
932        3      1      3        3         3       1
628        2      2      1        1         3       3
1497       4      2      1        3         1       2
1262       3      4      3        2         1       1

In [19]:
from sklearn.ensemble import RandomForestClassifier

# It is 10 decision trees by default
rfc = RandomForestClassifier(random_state=0)

rfc.fit (X_train, y_train)

y_pred = rfc.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.9649122807017544

In [26]:
clf = RandomForestClassifier(n_estimators=100, random_state=0)
clf.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [28]:
feature_scores = pd.Series(clf.feature_importances_, index=X_train.columns).sort_values(ascending=False)
feature_scores

safety      0.291657
persons     0.235380
buying      0.160692
maint       0.134143
lug_boot    0.111595
doors       0.066533
dtype: float64